// varibles are defined in tailwind config class
$color-primary-1: #4024cd;
$color-primary-2: #7752fe;
$color-primary-2: #0174be;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #2e2b2a; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$div-height: calc(100vh - 2 * 4vw); //
